/*
*  styles for genre-related elements
 */

.genre-id {
    width: 100px;
}

.genre-name {
    width: 200px;
}

.genre-id, .genre-name {
    margin: 0px 1px;
    padding: 1px;
    border: 1px solid #FFFFFF;
}

/* styles for edit and delete buttons */
div[class^="list-"] {
    padding: 0px;
}

button.btn-light {
    margin: 0px 2px;
    width: 75px;
    border: #4D90C6 solid 1px;
}

/* styles for the update button */
button.btn-update {
    background-color: #d58512;
}
/* styles for the cancel button */
button.btn-cancel{
    color: #ffffff;
    background-color: #5e5e5e;
}

/* styles for editable items */
.genre-editable {
    border: 1px solid #cccccc;
    min-height: 22px
}

/* styles for the add form  */
.genre-add-button-row {
    background-color: #123E81;
    color: #FFFFFF;
}

.genre-add-button {
    margin-left: 5px;
    cursor: pointer;
}

.genre-add-button:hover {
    text-decoration: underline;
}